{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@sylver35_smiliescat/smiliescat.css' %}

<a name="maincontent"></a>

{% if U_BACK %}
	<a href="{{ U_BACK }}" style="float: right;">&laquo; {{ lang('BACK') }}</a>
{% endif %}

<h1>{{ TITLE }}</h1>

<p>{{ TITLE_EXPLAIN }}</p>

{% if IN_ACTION %}
	<form id="acp_smilies_category" method="post" action="{{ U_MODIFY }}">
	<fieldset class="tabulated">
	<table class="table1 zebra-table" id="smilies">
	<thead>
	<tr>
		<th colspan="5">{{ lang('SMILIES_CONFIG') }}</th>
	</tr>
	<tr class="row3">
		<td>{{ lang('SMILIES_IMAGE') }}</td>
		<td>{{ lang('SMILIES_CODE') }}</td>
		<td>{{ lang('EMOTION') }}</td>
		<td>{{ lang('SC_CATEGORY') }}</td>
		{% if not S_IN_LIST %}
		<td>{{ lang('SC_CATEGORY_SELECT') }}</td>
		{% endif %}
	</tr>
	</thead>
	<tbody>
		{% if S_IN_LIST %}
		{% for item in items %}
		<tr>
			<td><img src="{{ item.IMG_SRC }}" alt="{{ item.CODE }}" title="{{ item.EMOTION }}"/></td>
			<td>{{ item.CODE }}</td>
			<td>{{ item.EMOTION }}</td>
			<td>{{ item.CATEGORY }}<input type="hidden" name="list[]" value="{{ item.ID }}"></td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td><img src="{{ IMG_SRC }}" alt="{{ CODE }}" title="{{ EMOTION }}"/></td>
			<td>{{ CODE }}</td>
			<td>{{ EMOTION }}</td>
			<td>{{ item.CATEGORY }}</td>
			<td>
				<select id="cat_id" name="cat_id">{{ SELECT_CATEGORY }}</select>
			</td>
		</tr>
		{% endif %}
	</tbody>
	</table>
	{% if S_IN_LIST %}
	<p class="centered cat-select">
		<strong>{{ lang('SC_CATEGORY_SELECT') }} : </strong><select id="cat_id" name="cat_id">{{ SELECT_CATEGORY }}</select>
	</p>
	{% endif %}
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
	</p>
	{{ S_FORM_TOKEN }}
	</fieldset>
	</form>
{% else %}
	<form id="select_category" method="post" action="{{ U_SELECT_CAT }}">
	<fieldset class="tabulated">
	<div class="pagination" style="float: left;">
		<strong>{{ lang('SC_CATEGORY_SELECT') }} : </strong>
		<select id="select" name="select" onchange="if(this.options[this.selectedIndex].value != '')this.form.submit();">{{ LIST_CATEGORY }}</select>&nbsp;
		<input class="button2" type="submit" value="{{ lang('GO') }}">
	</div>
	<div class="pagination" style="float: right;">
	<strong>{{ NB_SMILIES }} &bull;</strong> 
	{% if pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% endif %}
	</div>
	</fieldset>
	</form>
	<form id="acp_smilies_category" method="post" action="{{ U_MODIFY }}">
	<fieldset class="tabulated">
	<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{{ lang('ACP_SMILIES') }}</th>
		<th>{{ lang('CODE') }}</th>
		<th>{{ lang('EMOTION') }}</th>
		<th>{{ lang('SC_CATEGORY') }}</th>
		<th>{{ lang('OPTIONS') }}</th>
		<th style="width: 50px;">{{ lang('MARK') }}</th>
	</tr>
	</thead>
	<tbody>
	{% if items|length %}
	{% for item in items %}
	{% if item.SPACER_CAT %}
		<tr>
			<td class="row3" colspan="6"><b>{{ item.SPACER_CAT }}</b></td>
		</tr>
	{% endif %}
		<tr>
			<td style="width: 60%;"><img src="{{ U_SMILIES }}{{ item.IMG_SRC }}" width="{{ item.WIDTH }}" height="{{ item.HEIGHT }}" alt="{{ item.CODE }}" title="{{ item.EMOTION }}"></td>
			<td>{{ item.CODE }}</td>
			<td>{{ item.EMOTION }}</td>
			<td>{{ item.CATEGORY }}</td>
			<td class="actions"><a href="{{ item.U_EDIT }}">{{ ICON_EDIT }}</a></td>
			<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{{ item.ID }}" /></td>
		</tr>
	{% endfor %}
	{% else %}
		<tr>
			<td class="row3" colspan="5"><b>{{ lang('SC_SMILIES_EMPTY_CATEGORY') }}</b></td>
		</tr>
	{% endif %}
	</tbody>
	</table>
	<fieldset class="quick">
		{{ S_FORM_TOKEN }}
		<p class="small"><a href="#" onclick="marklist('acp_smilies_category', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_smilies_category', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
		<input class="button2" type="submit" name="editmarked" value="{{ lang('SC_CATEGORY_EDIT_LIST') }}" />
	</fieldset>
	<br/>
	<div class="pagination">
	{% if pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% endif %}
	</div>
	{{ S_FORM_TOKEN }}
	</fieldset>
{% endif %}
	</form>

<p class="centered"><em>{{ CATEGORY_VERSION }}</em></p>

{% INCLUDE 'overall_footer.html' %}
