
#succes-div {
	top: 45%;
	left: 45%;
	position: fixed;
	z-index: 100;
	display: none;
	opacity: 0.9;
    background-color: #fff;
    border: 2px solid #1c1b1b;
    border-radius: 7px;
	padding: 5px;
    overflow: hidden;
	font-size: 0.8em;
}

#succes-div span {
	background: url("./img/ok.png") 0 40% no-repeat;
	padding-left: 26px;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 1.3em;
	color: #60ae4a;
}

#error-div {
	top: 45%;
	left: 45%;
	position: fixed;
	z-index: 100;
	display: none;
	opacity: 0.9;
    background-color: #fff;
    border: 2px solid #1c1b1b;
    border-radius: 7px;
	padding: 5px;
    overflow: hidden;
	font-size: 0.8em;
}

#error-div span {
	background: url("./img/no.png") 0 40% no-repeat;
	padding-left: 26px;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 1.3em;
	color: #c40909;
}

#info {
	display: none;
	color: red;
}

th, tr > td, .centered {
	text-align: center;
}

td.row3, tr.row3 > td  {
	font-weight: bold;
	text-align: center;
	font-size : 0.95em;
}

td.strong {
	font-weight: bold;
}

div.on-left {
	float : left;
}

.empty {
	background-color: #FFF;
}

.in-red {
	color: red;
}

.pointer {
	cursor: pointer;
}

select {
	font-size: 1.1em;
	width: auto;
	max-width: 100%;
}

p.cat-select {
	margin: 10px;
}

td.nb-green {
	color: green;
}

td.nb-orange {
	color: orange;
}

option > selected {
	color: red;
}
