{% if IN_CAT_ACTION or IN_LIST_CAT %}
<script>
{% if IN_CAT_ACTION %}
var errorTitle = '{{ lang("SC_CATEGORY_ERROR")|escape("js") }}';
$(document).ready(function(){
	$('#cat-action input[type="text"]').each(function(){
		$(this).on({
			'keyup': function(){validInputs()},
			'blur': function(){validInputs()},
		});
		if($(this).val().trim() == ''){
			$(this).css('outline', '1px solid red');
			$('#info').css('display', 'block').html(errorTitle);
			$('#submit').prop('disabled', true).attr({'disabled': 'disabled', 'title': errorTitle});
		}
	});
});
function validInputs(){
	var inputEmpty = false;
	$('#cat-action input[type="text"]').each(function(){
		if($(this).val().trim() == ''){
			$(this).css('outline', '1px solid red');
			inputEmpty = true;
		}else{
			$(this).css('outline', '');
		}
	});
	if(inputEmpty === true){
		$('#submit').prop('disabled', true).attr({'disabled': 'disabled', 'title': errorTitle});
		$('#info').css('display', 'block').html(errorTitle);
	}else{
		$('#submit').prop('disabled', false).attr('title', '{{ lang("SUBMIT")|escape("js") }}');
		$('#info').hide();
	}
}
{% else %}
function moveCats(action, id){
	$.ajax({
		type: 'POST',
		dataType: 'json',
		data: 'action='+action+'&id='+id,
		url: '{{ U_MOVE_CATS }}',
		cache: false,
		success: function(response){
			var tbodyRow = '', actionUrl = $('#action_url').val();
			for(var i = 0; i < response.total; i++){
				var data = response.datas[i];
				$('#succes-div').show();
				setTimeout(function(){$('#succes-div').hide()},2000);
				if(data.error === false){
					continue;
				}else if(data.error === true){
					tbodyRow += '<tr><td class="row in-red" colspan="3">'+data.langEmpty+'</td></tr>';
				}else if(data.error === undefined){
					if(data.row){
						if(data.titleCat){
							tbodyRow += '<tr><td class="row3" style="text-align: center;" colspan="3"><strong>'+data.titleCat+'</strong></td>';
							tbodyRow += '<td class="row3" style="text-align: center;"><strong>'+data.catNb+'</strong></td><td class="row3 actions" style="text-align: center;">';
							if(data.catOrder == 1){
								tbodyRow += '<span class="up-disabled">{{ ICON_MOVE_UP_DISABLED }}</span> ';
							}else{
								tbodyRow += '<span class="up"><a style="cursor: pointer;" onclick="moveCats(\'move_up\','+data.catId+')">{{ ICON_MOVE_UP }}</a></span> ';
							}
							if(data.rowMax){
								tbodyRow += '<span class="down-disabled">{{ ICON_MOVE_DOWN_DISABLED }}</span> ';
							}else{
								tbodyRow += '<span class="down"><a style="cursor: pointer;" onclick="moveCats(\'move_down\','+data.catId+')">{{ ICON_MOVE_DOWN }}</a></span> ';
							}
						}
						tbodyRow += '<a href="'+actionUrl+data.uEdit+'">{{ ICON_EDIT }}</a> <a href="'+actionUrl+data.uDelete+'">{{ ICON_DELETE }}</a></tr>';
					}
					tbodyRow += '<tr><td style="text-align: center;"><strong>'+data.catTranslate+'</strong></td>';
					tbodyRow += '<td style="text-align: center;">'+data.catLang+'</td>';
					tbodyRow += '<td style="text-align: center;">'+data.catIso+'</td><td style="text-align: center;background-color: #F9F9F9;"></td></tr>';
				}
			}
			$('#body_cat').html(tbodyRow);
		},
		error: function(){
			$('#error-div').show();
			setTimeout(function(){$('#error-div').hide()},2500);
		}
	});
};
{% endif %}
</script>
{% endif %}