{% if IN_CAT_ACTION or IN_LIST_CAT or CATEGORIE_SMILIES or IN_CATEGORIES %}
<script>
{% if IN_CATEGORIES %}
var cats = {
	first: {{ ID_FIRST_CAT }},
	perPage: {{ PER_PAGE }},
	smiliesPath: '{{ U_SMILIES_PATH }}',
	displayAjax: '{{ U_CATEGORY_AJAX }}',
	previous: '{{ lang("SC_PREVIOUS")|escape("js") }}',
	next: '{{ lang("SC_NEXT")|escape("js") }}',
	previousTitle: '{{ lang("SC_PREVIOUS_TITLE")|escape("js") }}',
	nextTitle: '{{ lang("SC_NEXT_TITLE")|escape("js") }}',
	page: '{{ lang("SC_SMILIES_PAGE")|escape("js") }}',
	pageTitle: '{{ lang("SC_SMILIES_PAGE_TITLE")|escape("js") }}',
	categorie: '{{ lang("SC_CATEGORY_IN")|escape("js") }}',
};
{% INCLUDEJS '@sylver35_smiliescat/smiliescat.js' %}
{% elseif CATEGORIE_SMILIES %}
$('i.acp-icon-settings').each(function(){
	$(this).attr('title', '{{ lang("SC_CATEGORY_EDIT")|escape("js") }}');
});
{% elseif IN_CAT_ACTION %}
var errorTitle = '{{ lang("SC_CATEGORY_ERROR")|escape("js") }}';
$(document).ready(function(){
	$('#cat-action input[type="text"]').each(function(){
		$(this).on({
			'keyup': function(){validInputs()},
			'blur': function(){validInputs()},
		});
		if($(this).val().trim() == ''){
			$(this).css('outline', '1px solid red');
			$('#info').css('display', 'block').html(errorTitle);
			$('#submit').prop('disabled', true).attr({'disabled': 'disabled', 'title': errorTitle});
		}
	});
});
function validInputs(){
	var inputEmpty = false;
	$('#cat-action input[type="text"]').each(function(){
		if($(this).val().trim() == ''){
			$(this).css('outline', '1px solid red');
			inputEmpty = true;
		}else{
			$(this).css('outline', '');
		}
	});
	if(inputEmpty === true){
		$('#submit').prop('disabled', true).attr({'disabled': 'disabled', 'title': errorTitle});
		$('#info').css('display', 'block').html(errorTitle);
	}else{
		$('#submit').prop('disabled', false).attr('title', '{{ lang("SUBMIT")|escape("js") }}');
		$('#info').hide();
	}
}
{% elseif IN_LIST_CAT %}
function moveCats(action, id){
	$.ajax({
		type: 'POST',
		dataType: 'json',
		data: 'action='+action+'&id='+id,
		url: '{{ U_MOVE_CATS }}',
		cache: false,
		success: function(response){
			var tbodyRow = '', actionUrl = $('#action_url').val();
			for(var i = 0; i < response.total; i++){
				var data = response.datas[i];
				$('#succes-div').show();
				setTimeout(function(){$('#succes-div').hide()},1500);
				if(data.error === false){
					continue;
				}else if(data.error === true){
					tbodyRow += '<tr><td class="row in-red" colspan="3">'+data.langEmpty+'</td></tr>';
				}else if(data.error === undefined){
					if(data.row){
						if(data.titleCat){
							tbodyRow += '<tr><td class="row3 nb-'+data.nbCss+'" colspan="3">'+data.titleCat+'</td>';
							tbodyRow += '<td class="row3 nb-'+data.nbCss+'">'+data.catNb+'</td><td class="row3 actions">';
							if(data.catOrder == 1){
								tbodyRow += '<span class="up-disabled">{{ ICON_MOVE_UP_DISABLED }}</span> ';
							}else{
								tbodyRow += '<span class="up"><a style="cursor: pointer;" onclick="moveCats(\'move_up\','+data.catId+')">{{ ICON_MOVE_UP }}</a></span> ';
							}
							if(data.rowMax){
								tbodyRow += '<span class="down-disabled">{{ ICON_MOVE_DOWN_DISABLED }}</span> ';
							}else{
								tbodyRow += '<span class="down"><a style="cursor: pointer;" onclick="moveCats(\'move_down\','+data.catId+')">{{ ICON_MOVE_DOWN }}</a></span> ';
							}
						}
						tbodyRow += '<a href="'+actionUrl+data.uEdit+'">{{ ICON_EDIT }}</a> <a href="'+actionUrl+data.uDelete+'">{{ ICON_DELETE }}</a></tr>';
					}
					tbodyRow += '<tr><td><strong>'+data.catTranslate+'</strong></td>';
					tbodyRow += '<td>'+data.catLang+'</td>';
					tbodyRow += '<td>'+data.catIso+'</td><td class="empty"></td></tr>';
				}
			}
			$('#body_cat').html(tbodyRow);
		},
		error: function(){
			$('#error-div').show();
			setTimeout(function(){$('#error-div').hide()},2000);
		}
	});
}
{% endif %}
</script>
{% endif %}