a.category_red {
	color: red;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
}

a.pointer {
	cursor: pointer;
}

a.strong {
	font-weight: bold;
	cursor: pointer;
}

a.cat-active {
	color: red;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
}

a.cat-inactive {
	font-size: 1em;
	cursor: pointer;
	font-weight: normal;
}

div.div-version {
	padding-top: 6px;
	text-align: center;
}

span.span-version {
	font-size: 1.05em;
}

span.close {
	margin-left: 20px;
}

span.cat-title {
	color: red;
	font-size: 1.3em;
	padding: 0 6px 0 6px;
}

span.pagin_red, a.pagin_red {
	color: red;
	font-size: 1.1em;
	cursor: help;
	font-weight: bold;
}

#cat-title > span {
	font-weight: bold;
}

#smileys-cat {
	width: 80%;
	text-align: center;
}

#smileys-list, #cats-list {
	text-align: center;
	padding: 6px 0 6px 0;
}