{% if S_SMILIES_ALLOWED and IN_CATEGORIES %}
<div id="smileys-cat">
	<div id="cat-title"></div>
	<div id="smileys-list"></div>
	<div id="smilies-pagin-div" class="action-bar bar-top litle-pagin">
		<div id="smilies-pagin" class="pagination"></div>
	</div>
	<div id="cats-list"></div>
	<div id="cats-href">
		<a id="u-open" class="strong tooltip" onclick="cats.displayCats({{ ID_FIRST_CAT }},{{ NB_FIRST_CAT }});" title="{{ lang('SC_SMILIES_TITLE') }}">{{ lang('SC_SMILIES_TITLE') }}</a>
		<a id="u-close" class="strong tooltip" onclick="cats.closeAction();" title="{{ lang('SC_SMILIES_CLOSE') }}">{{ lang('SC_SMILIES_CLOSE') }}</a>
	</div>
</div>
{% endif %}
