{% INCLUDE 'simple_header.html' %}
{% INCLUDECSS '@sylver35_smiliescat/smiliescat.css' %}

<script>
	var form_name = opener.form_name;
	var text_name = opener.text_name;
</script>

<h2 class="category-title">{{ POPUP_TITLE }}</h2>

<div class="panel">
	<div class="inner">
	{% if smilies|length %}
	{% for smiley in smilies %}
		<a class="pointer" onclick="insert_text('{{ smiley.SMILEY_CODE }}',true,true);return false;">
			<img src="{{ U_SMILIES_PATH }}{{ smiley.SMILEY_SRC }}" alt="{{ smiley.SMILEY_CODE }}" title="{{ smiley.SMILEY_EMOTION }}" width="{{ smiley.SMILEY_WIDTH }}" height="{{ smiley.SMILEY_HEIGHT }}" />
		</a>
	{% endfor %}
	{% else %}
		<h3>{{ lang('SC_SMILIES_EMPTY_CATEGORY') }}</h3>
	{% endif %}
	</div>
</div>
<div class="action-bar bar-top litle-pagin">
	{% if pagination|length %}
	<div class="pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
	{% else %}
	<br />
	{% endif %}
</div>

<div class="panel">
	<div class="inner">
	<h3>{{ lang('ACP_SC_SMILIES') }}</h3>
	{% for category in categories %}
		{{ category.SEPARATE }}<a href="{{ category.U_CAT }}" class="{{ category.CLASS }}" id="pointer-{{ category.CAT_ID }}" title="{{ category.CAT_NAME }}">{{ category.CAT_NAME }}</a> ({{ category.CAT_NB }})
	{% endfor %}
	</div>
</div>

<span class="close"><a class="pointer" title="{{ lang('CLOSE_WINDOW') }}" onclick="window.close();return false;">{{ lang('CLOSE_WINDOW') }}</a></span>

<div id="page-footer">
	<div class="div-version">
		<span class="span-version"><em>{{ SC_VERSION }}</em></span>
	</div>
</div>

{% INCLUDEJS T_ASSETS_PATH ~ '/javascript/editor.js' %}
{% INCLUDE 'simple_footer.html' %}